body, html{
	background-color: black;
	font-family: "Share Tech Mono", monospace;
	color: white;
	padding: 0;
	margin: 0;
}
body{
	width: 95%;
	margin: 2.5% 2.4%;
	border: 1px dashed white;
}

#terminal-output{
	width: 95%;
	margin: 7% 2.5% 5% 2.5%;
	font-size: 125%;
}

@media only screen and (max-width: 1000px){
	body{
		width: 95%;
		margin: 2.5% 0%;
		margin-left: 2.3%;
		border: 1px dashed white;
	}

	#terminal-output{
		width: 95%;
		margin: 7% 0% 5% 2%;
		font-size: 75%;
	}
}
